.article-card {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-card:hover {
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: flex-end;
}